.footer {
  display: grid;
  justify-content: start;
  max-width: 880px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

@media screen and (max-width: 934px) {
  .footer {
    max-width: calc(88.125%);
  }
}
