@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/body/body.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__heading/page__heading.css);
@import url(./blocks/page/__inputs/page__inputs.css);
@import url(./blocks/page/__input/page__input.css);
@import url(./blocks/page/__submit-btn/page__submit-btn.css);
@import url(./blocks/page/__description/page__description.css);
@import url(./blocks/page/__signin-btn/page__signin-btn.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__info/header__info.css);
@import url(./blocks/header/__user-email/header__user-email.css);
@import url(./blocks/header/__sign-btn/header__sign-btn.css);
@import url(./blocks/header/__sign-btn/_grey/header__sign-btn_grey.css);
@import url(./blocks/content/content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-place/profile__avatar-place.css);
@import url(./blocks/profile/__avatar-image/profile__avatar-image.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__info-name/profile__info-name.css);
@import url(./blocks/profile/__info-description/profile__info-description.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/places/places.css);
@import url(./blocks/places/__list/places__list.css);
@import url(./blocks/place/place.css);
@import url(./blocks/place/__image/place__image.css);
@import url(./blocks/place/__card-info/place__card-info.css);
@import url(./blocks/place/__title/place__title.css);
@import url(./blocks/place/__icon-basket/place__icon-basket.css);
@import url(./blocks/place/__likes/place__likes.css);
@import url(./blocks/place/__icon-basket/_active/place__icon-basket_active.css);
@import url(./blocks/place/__likes/_icon-heart/place__likes_icon-heart.css);
@import url(./blocks/place/__likes/_icon-heart/_active/place__likes_icon-heart_active.css);
@import url(./blocks/place/__likes/_number/place__likes_numbers.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_view/popup_view.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__message/popup__message.css);
@import url(./blocks/popup/__picture/popup__picture.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__block/popup__block.css);
@import url(./blocks/popup/__heading/popup__heading.css);
@import url(./blocks/popup/__heading/_padding/popup__heading_padding.css);
@import url(./blocks/popup/__inputs/popup__inputs.css);
@import url(./blocks/popup/__inputs/_padding/popup__inputs_padding.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/_error/popup__input_type_error.css);
@import url(./blocks/popup/__submit-btn/popup__submit-btn.css);
@import url(./blocks/popup/__submit-btn/_disabled/popup__submit-btn_disabled.css);
@import url(./blocks/popup/__close-btn/popup__close-btn.css);
@import url(./blocks/error/error.css);
